[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-WTF = "*"
pymysql = "*"
Flask-HTTPAuth = "*"
email-validator = "*"
redis = "*"
hiredis = "*"
flask-sqlalchemy = "*"
flask = "*"
pycryptodome = "*"
pillow = "==9.2.0"

[dev-packages]

[requires]
python_version = "3.10"
